#container {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 90px;
                bottom: 0px;
                background-color: red;
            }

            #left_pane {
                background-color: green;
                height: 100%;
                width: 56%;
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #right_pane {
                background-color: blue;
                height: 100%;
                width: 44%;
                float: right;
            }

            #story_text {
                background-color: yellow;
                height: 80%;
                color: red;
                font-weight: bold;
            }

            #button_choices {
                background-color: pink;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            #story_img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
            }

            .buttons {
                text-decoration: none;
                color: white;
                background-color: black;
                padding: 10px;
                border-radius: 8px;
                font-size: 16px;
                margin: 10px;
            }